## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s="Hi there Sam!"

In [6]:
li=list(s.split(" "))
li[2]="dad!"
print(li)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [15]:
s="The diameter of {planet} is {diameter} kilometers."

In [14]:
print(s.format(planet="Earth",diameter=12742))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [19]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [21]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [39]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [53]:
#tuple are immutable,but list are mutable
#tuple are denoted as () and list are denoted as []
#tuple consume less memory compare to list and list consume more memory

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [54]:
def domainGet(email):
  return email.split("@")[-1]

In [55]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [56]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

In [57]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [58]:
def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
 
    print(count)

In [59]:
value = 'This dog runs faster than the other dog dude!,The dog are very nice to human';
countdogs(value)

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [48]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [51]:
caught_speeding(89,False)

'Big Ticket'

In [52]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [49]:
employee=[400,500,550,600,250]
sum=0
print ("salaryof 1st person is",employee[0])
print ("salaryof 2nd person is",employee[1])
print ("salaryof 3rd person is",employee[2])
print ("salaryof 4th person is",employee[3])
print ("salaryof 5th person is",employee[4])
for x in employee:
  sum=sum+x
print("The total salary is", sum)

salaryof 1st person is 400
salaryof 2nd person is 500
salaryof 3rd person is 550
salaryof 4th person is 600
salaryof 5th person is 250
The total salary is 2300

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [50]:
d1={'Empid':1,'Empname':"abc",'basicpay':10000}
d2={'Deptname':'cse','Deptid':2}


print({**d1, **d2})

{'Empid': 1, 'Empname': 'abc', 'basicpay': 10000, 'Deptname': 'cse', 'Deptid': 2}